body{
    box-sizing: border-box;
    width: 100%;
    max-width : 370px;
    margin: auto;
}

#container{
    width: 100%;
    max-width:370px;
}

/*//////헤드 부분///////*/
#head-container #head-header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 3% 4%;
    font-weight: bold;
}
#head-header #left-wrap {
    font-size: 20px;
    font-weight: bold;
    padding-left: 2%;
}
/*오른쪽 상단 메뉴 (토글,게시글)*/
#head-header #right-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35%;
}
#head-header img
{
    margin: 3px 5px;
    padding-right: 20px;
    width: 40px;
}
#togBtn span img
{
    margin: 3px 5px;
    padding-right: 20px;
    width: 20%;
}
/*토글*/
#togBtn input[type=checkbox]{
    display: none;
}
/*3자 바 이미지*/
#togBtn label{
    width: 40px;
}

/*메뉴 숨김*/
#togBtn .toggle_menu{
    display: none;
    list-style: none;
    border: 1px solid gray;
    margin-left: 17%;
    padding: 0 5px;
    width: 85px;

}
#togBtn a{
    color: black;
    text-decoration: none;
    font-size: 10px;
}
#togBtn hr{
    margin: 0;
}
/*메뉴 펼침*/
#togBtn input[type=checkbox]:checked ~.toggle_menu{
    display: block;
}



/*/////////////////*/
#head-mid
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
    border-bottom: 1px solid gray;
}
#head-mid img{
    width:20%;
    margin-left: 4%;
}

#profile_pic{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}
#file-upload{
    display: none;
    background-image: url("/static/image/camera@3x.png");
}
.file-upload input{
    display: none;
    background-image: url("/static/image/camera@3x.png");
}

.circle {
    margin-left : 10%;
    margin-right: 0;
    border-radius: 1000px;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border: 3px solid rgba(0, 0, 0,1);
}

.p-image {
    margin-top: 20px;
    margin-left: 144px;
    position: absolute;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}
.input-button
{
    width: 100px;
}

#profile_pic p {
    font-size: 15px;
    margin-bottom: 8%;
    font-weight: bold;
    margin-left: 8%;
}
#head-mid #head-mid-right
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10%;
}
#head-mid-right p {
    margin-bottom: 0;
}
#head-mid #post
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#head-mid #follower
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#head-mid #following
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 9%
;
}
#head-bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}



/* 포스트 컨테이너*/
#Post-container{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;

}
#navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
    padding: 0;
}
#Post-header li{
    list-style: none;
}
#Post-header img{
    width :25px;
    height: 25px;
}

#photo-container {
    display: flex;
    flex-wrap: wrap;
    margin-left:1%
}
#photo-container .grid_item {
     width: 33%;
    max-height: 300px;
}
.grid_item img{
    width: 99%;
    height: 99%;
}
/* 풋 컨테이너 */

#foot-container{
 background-color: whitesmoke;
 position: fixed;
 width: 100%;
 max-width: 370px;
 border-top: 1px solid lightgray;
 bottom: 0;

}
#foot-container #foot_icon_wrapper
{
 margin: 4% 6%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
#foot-container #foot_icon_wrapper img{
 width: 30px;
}

.modal{
    max-width: 370px;
    width: 100%;
    height: 85%;
    border: 3px solid black;
    background-color: white;
    margin-top: 10%;
    position: absolute;
    left: 1%;

}
#modal_head{
    width: 100%;
    height: 5%;
    border-bottom: 2px solid black;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#modal_head img{
    width: 30%;
}
#modal_head a {
    margin-right: 20px;

}