<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gangstargram</title>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet"/>
    <link href="/static/mainpage.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- Webpage Title -->
    <title>강스타그램 메인페이지</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS 링크 -->
    <!-- 부트스트랩과 비슷한 건데, 예제라서 쓴 것 뿐입니다!!!-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    <script>
        $(document).ready(function () { // 시작하자마자 함수 부름.
            get_story();
        });

        // 로그아웃은 내가 가지고 있는 토큰만 쿠키에서 없애면 됩니다.
        function logout() {
            $.removeCookie('mytoken');
            alert('로그아웃!')
            window.location.href = '/login'
        }

        // 메인 페이지 출력시 게시물들이 자동 포스팅, 가장 최신 게시물이 제일 위에 오도록
        function get_story() {
            $.ajax({                // get 요청이 들어갑니다 어디로? / 로!
                type: 'GET',        // 그리고 response를 받아와서 카드를 만들어서 붙여주면 된다
                url: '/get_post',   // 붙여주는건 temp_html = ``
                data: {},
                success: function (response) {
                    let rows = response['orders']

                    for (let i = 0; i < rows.length; i++) {
                        if (!rows[i]['img']){
                            i = 1;
                        }
                        let profile_img = rows[i]['profile_img']
                        let comment = rows[i]['comment']
                        let hash = rows[i]['hash']
                        let nickname = rows[i]['nickname']
                        let my_time = rows[i]['my_time']
                        let img = rows[i]['img']

                        let temp_html = `
                                                <div class="user-container">
                                                    <div class="user-wrapper">
                                                        <img src="/static/image/profile/${profile_img}" class="user-icon" alt="story_icon">
                                                        <p class="user-text"><strong>${nickname}</strong></p>
                                                    </div>
                                                </div>

                                                <div class="mytitle">
                                                    <div>
                                                        <img src="/static/image/story/${img}" class="post_image">
                                                        <div class="comment_hash_wrap">
                                                            <p class="comment">${comment}</p>
                                                            <p class="hash">${hash}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="like_etc-container">
                                                    <div class="like-wrapper">
                                                        <img src="/static/image/icon/like@3x.png" class="like_etc-icon" alt="story_icon">
                                                        <img src="/static/image/icon/comment@3x.png" class="like_etc-icon" alt="story_icon">
                                                        <img src="/static/image/icon/dm@3x.png" class="like_etc-icon" alt="story_icon">
                                                    </div>
                                                    <img src="/static/image/icon/favorite@3x.png" class="like_etc-icon2" alt="story_icon">
                                                </div>

                                                <div class="like-howmany-container">
                                                    <div class="like_howmany-wrapper">
                                                        <img src="/static/image/profile/${profile_img}" class="howmany-icon" alt="story_icon">
                                                        <p class="howmany-text"><strong>${nickname}외 6222명이 좋아합니다.</strong></p>
                                                    </div>
                                                </div>

                                                <div class="comment-container">
                                                    <div class="comment-wrapper">
                                                        <p><strong>neworld27</strong></p>
                                                        <p class="howmany-text">안녕하세요 반갑습니다.</p>
                                                    </div>
                                                    <div class="comment-wrapper">
                                                        <p><strong>nosleep</strong></p>
                                                        <p class="howmany-text">넹 안녕하세요</p>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="timeline">
                                                    <p class="timeline-text">포스팅 시간 : ${my_time}</p>
                                                    <div class="line">
                                                        <hr>
                                                    </div>
                                                </div>

                                              `
                        $('.lemon').append(temp_html) //게시물 올리는 곳 있는데
                    }
                }
            });
        }

        // 메인(홈) 페이지로 이동
        function home() {
            window.location.href = '/'
        }

        // 게시글 추가 페이지로 이동
        function add_post() {
            window.location.href = '/add_post'
        }

        // 산책 메이트 찾기 페이지로 이동
        function find_walkmate() {
            window.location.href = '/walkmate'
        }

        // 산책 가능 여부 페이지로 이동
        function walk_possible() {
            window.location.href = '/walk_possible'
        }

        // 펫 상품관 페이지로 이동
        function pet_goods() {
            window.location.href = '/shop'
        }

        // 마이 페이지로 이동
        function my_page() {
            window.location.href = '/my_page'
        }
    </script>

</head>
<body>
<div id="container">
    <div id="top-container">
        <img src="/static/image/icon/img.png" class="logo" alt="gangstagram">
        <img src="/static/image/icon/trending@3x.png" onclick="add_post()" class="postadd"
             alt="gangstagram">
        <button onclick="logout()" class="btn btn-outline-dark btn-sm" type="submit">로그아웃</button>
    </div>


    <!-- 묶기 위함 -->
    <div class="lemon">


    </div>



    <div id="foot">
        <div id="footer">
            <img alt="home" class="footer-icon" src="{{ url_for('static', filename='/image/icon/home@3x.png') }}"
                 onclick="home()">
            <img alt="search" class="footer-icon" src="{{ url_for('static', filename='/image/icon/search@3x.png') }}"
                 onclick="find_walkmate()">
            <img alt="season" class="footer-icon" src="{{ url_for('static', filename='/image/icon/season.png') }}"
                 onclick="walk_possible()">
            <img alt="shop" class="footer-icon" src="{{ url_for('static', filename='/image/icon/shopping-bag.png') }}"
                 onclick="pet_goods()">
            <img alt="mypage" class="footer-icon" src="{{ url_for('static', filename='/image/icon/mypage.png') }}"
                 onclick="my_page()">
        </div>
    </div>

</div>
</body>
</html>