<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/pet_goods.css">


    <script>
        // 메인(홈) 페이지로 이동
        function home() {
            window.location.href = '/'
        }
        // 게시글 추가 페이지로 이동
        function add_post() {
            window.location.href = '/add_post'
        }
        // 산책 메이트 찾기 페이지로 이동
        function find_walkmate() {
            window.location.href = '/walkmate'
        }
        // 산책 가능 여부 페이지로 이동
        function walk_possible() {
            window.location.href = '/walk_possible'
        }
        // 펫 상품관 페이지로 이동
        function pet_goods() {
            window.location.href = '/shop'
        }
        // 마이 페이지로 이동
        function my_page() {
            window.location.href = '/my_page'
        }
    </script>

</head>
<body>

<div id="around">
    <div id="top-container">
        <img src="{{ url_for('static', filename='/image/icon/img.png') }}" class="logo" alt="gangstagram">
        <img src="{{ url_for('static', filename='/image/icon/trending@3x.png') }}" onclick="add_post()" class="postadd" alt="gangstagram">
    </div>
    <div id="Mid-container">
        <div id="title">
            <p>PET SHOP#</p>
        </div>
        <div id ="shop-container">
            <img src="{{ url_for('static', filename='/image/icon/hamabe.jpeg') }}" >
            <div id="Waiting">
                <p>서비스 준비중입니다.</p>
            </div>
        </div>
    </div>

    <div id="footer">
        <div id ="foot_icon_wrapper">
            <img alt="home" class="footer-icon" src="{{ url_for('static', filename='/image/icon/home@3x.png') }}" onclick="home()">
            <img alt="search" class="footer-icon" src="{{ url_for('static', filename='/image/icon/search@3x.png')}}" onclick="find_walkmate()">
            <img alt="season" class="footer-icon" src="{{ url_for('static', filename='/image/icon/season.png') }}" onclick="walk_possible()">
            <img alt="shop" class="footer-icon" src="{{ url_for('static', filename='/image/icon/shopping-bag.png') }}" onclick="pet_goods()">
            <img alt="mypage" class="footer-icon" src="{{ url_for('static', filename='/image/icon/mypage.png') }}" onclick="my_page()">
        </div>
    </div>
</div>
</body>
</html>