<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="/static/signup.css" rel="stylesheet">

    <title>Signup</title>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
        // 로그인을 할 수 있는 sign.html로 이동합니다.
        function signin() {
            window.location.href = '/login'
        }

        // 회원가입 함수입니다.
        // 닉네임, 이메일 id, 비밀번호, (견주)성별, 주소, 견종, 견크기를 받아 DB에 저장합니다.
        function register() {
            // 이메일 id, pw, 닉네임 저장
            let email = $('#useremail').val()
            let pw = $('#userpw').val()
            let nickname = $('#usernick').val()
            // 주소 저장 / 셀렉트 박스의 선택한 항목의 주소 text 값을 변수에 저장
            let address = $("[name=address_selectbox] option:selected").text()
            // 견주 성별 저장 / 라디오 버튼의 value값을 ajax로 넘길때 문법!
            let owner_gender = $('input[name="usergender"]:checked').val()
            // 프로필 사진, 코멘트 저장
            let file = $('#file')[0].files[0]
            let introduce_comment = $('#introduce_comment').val()
            // 견종, 견 크기 저장
            let dog_breed = $('#userdogbreed').val()
            let dog_size = $('input[name="userdogsize"]:checked').val()

            let form_data = new FormData()
            form_data.append('email_give', email)
            form_data.append('pw_give', pw)
            form_data.append('nickname_give', nickname)
            form_data.append('address_give', address)
            form_data.append('owner_gender_give', owner_gender)
            form_data.append('file_give', file)
            form_data.append('introduce_comment_give', introduce_comment)
            form_data.append('dog_breed_give', dog_breed)
            form_data.append('dog_size_give', dog_size)

            $.ajax({
                type: "POST",
                url: "/sign_up/request",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('회원가입이 완료되었습니다.')
                        window.location.href = '/login'
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }

        // Kakao Developers api 사용(주소 검색)
        function findaddr(){
            let dong = $("#address_dong").val()

            $.ajax({
                // query를 아래와 같이 data안에 같이 넣지 않고 url에 직접 넣어준 이유는
                // data : {dong, page:45, size:30},
                // https://mine-it-record.tistory.com/328 해당 url의 데브톡 답변을 참고
                // 쿼리는 보통 encodeURIComponent 로 한번 인코딩 후에 URL에 넣어주어야 안전하게 전송된다고 함.
                url:'https://dapi.kakao.com/v2/local/search/address.json?query='+encodeURIComponent(dong),
                data : {page:45, size:30},
                type:'GET',
                headers: {'Authorization' : 'KakaoAK 78ddf5d3a4b12f25ac9f70830d0cab48'},
                success:function(data){
                    // 셀렉트 박스 초기화
                    $("#address_selectbox").html("<option value='0' selected disabled>상세 주소 선택</option>");

                    // 검색된 데이터가 있다면 해당 데이터들을 셀렉트 박스의 옵션으로 추가
                    let rows = data['documents']
                    for(let i=0; i<rows.length; i++){
                        // console.log(rows[i]['address_name'])
                        $("[name=address_selectbox]").append("<option value='i'>" + rows[i]['address_name'] + "</option>");
                    }
                },
                error : function(e){
                    console.log(e);
                }
            });
        }
    </script>
</head>
<body>

<div id="top">
    <img src="{{ url_for('static', filename='/image/img.png') }}" class="logo" alt="gangstagram">
</div>

<div class="container">

    <div class="mytitle">
        <h1><strong>Register</strong></h1>
        <p>or <a href="javascript:void(0)" onclick="signin()">sign in</a></p>
    </div>

    <div id="residence">
        <div class="row g-3">
            <div class="col">
                <input type="text" class="form-control" id="address_dong" placeholder="동을 입력해주세요." aria-label="First name">
            </div>
            <div class="col">
                <button class="btn btn-primary" type="button" onclick="findaddr()">주소 검색</button>
            </div>
        </div>
        <div class="row g-1">
            <div class="col2">
                <select id="address_selectbox" name="address_selectbox" class="address_selectbox">
                    <!-- 해당 옵션이 선택되지 않도록 해당 옵션 태그에 selected disabled -->
                    <option value="" selected disabled>상세 주소 선택</option>
                </select>
            </div>
        </div>
    </div>

    <div id="info_wrap">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="usernick" placeholder="url">
            <label for="floatingInput">Nickname</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="useremail" placeholder="url">
            <label for="floatingInput">Email@xxxxx.com</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="userpw" placeholder="url">
            <label for="floatingInput">Password</label>
        </div>
    </div>

    <div id="sex_check">
        <div class="form-check1">
            <input class="form-check-input" type="radio" name="usergender" value="male" class="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                남
            </label>
        </div>

        <div class="form-check2">
            <input class="form-check-input" type="radio" name="usergender" value="female" class="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                여
            </label>
        </div>
    </div>
    </br>

    <!-- 프로필 사진, 간단 코멘트 작성 부분 -->
    <div class="file-upload">
        <input type="file" id="file">
        <input style="width:300px;" type="text" id="introduce_comment" placeholder="간단히 자기소개를 해주세요.">
    </div>

    </br>

    <div id="doginfo">
        <div class="col">
            <input type="text" class="form-control" id="userdogbreed" placeholder="애견종류" aria-label="Last name">
        </div>
    </div>
    </br>

    <div id="dogsize">
        <div class="form-check1">
            <input class="form-check-input" type="radio" name="userdogsize" value="large" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                대형견
            </label>
        </div>

        <div class="form-check2">
            <input class="form-check-input" type="radio" name="userdogsize" value="medium" class="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                중형견
            </label>
        </div>
        <div class="form-check2">
            <input class="form-check-input" type="radio" name="userdogsize" value="small" class="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                소형견
            </label>
        </div>
    </div>

    </br>
    </br>
    <div id="done">
        <div class="d-grid gap-3">
            <button class="btn btn-primary" type="button" onclick="register()">강집사 생성^^!</button>
        </div>
    </div>


</div>

</body>
</html>